<%- include('partials/head.ejs') %>
    <%- include('partials/navbar.ejs') %>

        <div class="d-flex ms-4 ">

            <div class="col-3 mt-5 me-4 d-flex-col ">
                <div class="card text-center profile-card col-3 " style="width: 85%; margin-left: 15%;">
                    <div class="card-body">
                        <% if (user && user.profilePicture) { %>
                            <div class="mb-3" id="image-container">
                                <img src=<%= user.imgSrc %>
                                    alt="">
                            </div>
                            <% } %>
                                <h5 class=" card-title fs-4">

                                    <%= user?.firstName.toUpperCase() || '' %>
                                        <%= user?.secondName.toUpperCase() || '' %>

                                </h5>
                                <div>
                                    <%= user?.rating || '' %>
                                </div>
                                <p class="card-text m-1 mt-2 mb-0">
                                    <%= user?.location || '' %>
                                </p>
                                <p class="card-text m-1 mt-0">Joined <%= user?.createdAt || "N/A" %>
                                </p>
                                <p class="card-text m-1 mt-3 fw-light" style="font-size: 0.8rem;">
                                    <%= user?.bio || '' %>
                                </p>


                    </div>
                </div>
                <div class="d-flex-col profile-nav-container align-items-center hide">
                    <a href="/profile?nav=listings" class="text-decoration-none">

                        <div class="profile-nav-item text-center fs-5 active ">Listings</div>
                    </a>
                    <a href="" class="text-decoration-none">

                        <div class="profile-nav-item text-center fs-5 ">Purchases</div>
                    </a>
                    <a href="" class="text-decoration-none">

                        <div class="profile-nav-item text-center fs-5 ">Wishlist</div>
                    </a>

                </div>

            </div>



            <div class="col-8 profile-main-container d-flex-col me-3"
                style=" border-right:0px; box-shadow:none; height:calc(100vh - 56px);">

                <div style="z-index:2000;">
                    <h2 class="p-4 pb-1">Listings by the user</h2>
                    <hr>
                </div>
                <div class="grid-container p-4">
                    <% products.forEach(elt=> { %>


                        <a href="/product?id=<%=elt._id%>">

                            <div class="card text-center list-card product-card">





                                <div class="img-continer">
                                    <% if (elt.images[0]) { %>

                                        <img class="list-card-img"
                                            src="data:image/;base64,<%=elt.images[0].toString('base64') || ''%>"
                                            alt="Title">
                                        <% } %>
                                </div>

                                <span class="card-price">
                                    ₹<%=elt.price%>
                                </span>
                                <span class="card-title">
                                    <%=elt.title%>
                                </span>
                                <div class="location-container w-100 mt-3 text-muted">

                                    <span class="card-location">
                                        <%=elt.location%>
                                    </span>
                                    <span class="card-data">
                                        <%=elt.createdAt%>
                                    </span>
                                </div>


                            </div>
                        </a>
                        <% }) %>




                </div>


            </div>
        </div>




        <script src="/js/profile.js"></script>

        <%- include('partials/closingHead.ejs') %>