<%- include('partials/head.ejs') %>
    <%- include('partials/navbar.ejs') %>




        <h1 class=" mt-4 fw-bold" style="margin-left: 7.10rem;">Sell your product</h1>
        <!-- <hr class="w-55 ms-5 me-5"> -->
        <div class="container  mt-4 d-flex">

            <div class="col-8 main-container">

                <form id="sell-form" class="form-group">

                    <div class="form-floating my-2 sell-form-input">
                        <input name="title" type=" text" class="form-control" id="sell-form-title" placeholder="Title"
                            required>
                        <label for="sell-form-title" class="form-label">Title</label>
                    </div>
                    <div class="input-group my-2">

                        <div class="" style="width: 50%;">
                            <select id="category-input" name="category" class="form-select"
                                aria-label="Default select example" required>
                                <option selected value="">Category</option>
                                <% categories.forEach(elt=> { %>
                                    <option value="<%=elt._id%>">
                                        <%=elt.name%>
                                    </option>

                                    <% }) %>
                            </select>
                        </div>
                        <div style="width: 50%;">
                            <select id="sub-category-input" name="subCategory" class="form-select"
                                aria-label="Default select example" required>
                                <option selected value="">Sub Category</option>
                            </select>

                        </div>
                        <!-- <div class="form-floating">
                    <input name="secondName" type="text" class="form-control" placeholder="Surname"
                    id="form-surname" required>
                    <label for="form-surname" class="form-label">Surname</label>
                </div> -->
                    </div>




                    <!-- <div class=" input-group my-2">
                        <input type="text" class="form-control" placeholder="Location eg: HSR layout, Bangalore, Karnataka" aria-label="Location" aria-describedby="button-addon2">
                        <input type="text" class="form-control" placeholder="Location eg: HSR layout, Bangalore, Karnataka" aria-label="Location" aria-describedby="button-addon2">
                        <input type="text" class="form-control" placeholder="Location eg: HSR layout, Bangalore, Karnataka" aria-label="Location" aria-describedby="button-addon2">
                        <button class="btn btn-outline-secondary outline-black-btn border" type="button" id="button-addon2">

                        </button>
                      </div> -->

                    <div class="input-group">

                        <div class="form-floating my-1">
                            <input name="location" type="text" class="form-control" placeholder="Location"
                                id="sell-form-location" required>
                            <label for="sell-form-location" class="form-label" required>Location</label>
                        </div>
                        <button class="outline-black-btn border px-3 py-0 mt-1" id="get-location-btn"
                            style="height: 58px;">
                            <svg xmlns="http://www.w3.org/2000/svg" height="1em"
                                viewBox="0 0 512 512"><!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. -->
                                <path
                                    d="M256 0c17.7 0 32 14.3 32 32V66.7C368.4 80.1 431.9 143.6 445.3 224H480c17.7 0 32 14.3 32 32s-14.3 32-32 32H445.3C431.9 368.4 368.4 431.9 288 445.3V480c0 17.7-14.3 32-32 32s-32-14.3-32-32V445.3C143.6 431.9 80.1 368.4 66.7 288H32c-17.7 0-32-14.3-32-32s14.3-32 32-32H66.7C80.1 143.6 143.6 80.1 224 66.7V32c0-17.7 14.3-32 32-32zM128 256a128 128 0 1 0 256 0 128 128 0 1 0 -256 0zm128-80a80 80 0 1 1 0 160 80 80 0 1 1 0-160z" />
                            </svg>
                        </button>
                    </div>



                    <div class="form-floating my-2">
                        <input type="number" name="price" type="text" class="form-control" placeholder="price"
                            id="sell-form-price" required>
                        <label for="sell-form-price" class="form-label" required>Price</label>
                    </div>




                    <div class="form-floating">
                        <textarea name="description" class="form-control" placeholder="Leave a comment here"
                            id="floatingTextarea2" style="height: 100px" required></textarea>
                        <label for="floatingTextarea2">Description</label>
                    </div>







                    <div class="details-input-container pt-3">

                        <label for="form-details" class="form-label">Details</label>

                        <div class="input-group ">

                            <div class="mb-1 w-50">
                                <input type="text" class="form-control" name="" id="form-details" placeholder="Year"
                                    disabled value="Year">
                            </div>
                            <div class="mb-1 w-50">
                                <input type="text" class="form-control" name="" type="number"
                                    placeholder="Eg: 2015,2020" required>
                            </div>
                        </div>



                    </div>
                    <button type="button" class="btn btn-secondary outline-black-btn plus-btn mb-3"
                        data-bs-toggle="tooltip" data-bs-placement="right" id="add-detail"
                        title="You can add your own detatils, field and value.">+</button>











                    <button id="post-btn" class="sign-up-btn mt-2 mb-5" type="submit">Post Product</button>

                </form>

            </div>

            <div class="col-4 px-4 pt-2">

                <div class="mb-2">
                    <label for="formFileMultiple" class="mb-2 fs-4 fw-lighter">Add Images</label>
                    <input class="form-control" type="file" id="formFileMultiple" multiple required>
                </div>
                <div class="w-100 border img-container" style="min-height: 50%;"></div>

            </div>


        </div>


        <%-include('partials/footer.ejs')%>
        <script src="/js/sell.js"></script>
        <%- include('partials/closingHead.ejs') %>