<div id="users-section" class="d-flex flex-column w-100 p-5 py-0 align-items-center" over>

    <table class="table table-strrped">
        <thead>
            <tr>

                <th class="text-center" scope="col">Username</th>
                <th class="text-center" scope="col">Email</th>
                <th class="text-center" scope="col">Phone</th>
                <th class="text-center" scope="col">Joined</th>
                <th class="text-center" scope="col">Block</th>
            </tr>
        </thead>

        <tbody class="table-body">
            <% data.users.forEach(element=> { %>



                <tr class="w-100 text-center">
                    <td class="">
                        <%=element.username%>
                    </td>
                    <td>
                        <%=element.email%>
                    </td>
                    <td>
                        <%=element.phone%>
                    </td>
                    <td>
                        <%=element.createdAt%>
                    </td>
                    <td>
                        <% if (element.isBlocked) { %>
                        <a id="block-user-btn" class="default-black-btn p-2 px-4 text-decoration-none" href="/blockuser?unblock=<%= element._id %>" >
                                UNBLOCK
                            </a>
                                <% } else{%>
                                    <a id="block-user-btn" class="default-black-btn p-2 px-4 text-decoration-none" href="/blockuser?block=<%= element._id %>" >
                                        BLOCK
                                    </a>
                                    <% } %>   
                    </td>
                </tr>


                <% }) %>
        </tbody>
    </table>

   <prev class="d-flex w-75 justify-content-between" >
       <button class="outline-black-btn shadow-sm px-2" style="background-color: gainsboro; border: 1px solid gray;" id="prev">Prev</button>
    <button class="outline-black-btn shadow-sm px-2" style="background-color: gainsboro; border: 1px solid gray;" id="home">Home</button>
    <button class="outline-black-btn shadow-sm px-2" style="background-color: gainsboro; border: 1px solid gray;" id="next">Next</button>
   </div>
</div>
<script src="/js/users.js" defer></script>