<!DOCTYPE html>
<html>
<head>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
  <div class="container">
    <h1 class="mt-4 mb-4">Order Details</h1>
    <div class="table-responsive">
      <table class="table table-bordered">
        <tbody>
          <tr>
            <th scope="row">Order ID</th>
            <td><%= order._id %></td>
          </tr>
          <tr>
            <th scope="row">Buyer</th>
            <td><%= order.buyerID.firstName %> <%= order.buyerID.secondName %></td>
          </tr>
          <tr>
            <th scope="row">Seller</th>
            <td><%= order.sellerID.firstName %> <%= order.sellerID.secondName %></td>
          </tr>
          <tr>
            <th scope="row">Product</th>
            <td><%= order.productID.title %></td>
          </tr>
          <tr>
            <th scope="row">Price</th>
            <td>
              <table class="table table-sm">
                <tbody>
                  <tr>
                    <th scope="row">Agreed Price</th>
                    <td><%= order.price.listPrice %></td>
                  </tr>
                  <tr>
                    <th scope="row">Transaction Fee(%)</th>
                    <td><%= order.price.transactionPercentage %></td>
                  </tr>
                  <tr>
                    <th scope="row">Total Price</th>
                    <td><%= order.price.totalPrice %></td>
                  </tr>
                </tbody>
              </table>
            </td>
          </tr>
          <tr>
            <th scope="row">Status</th>
            <td><%= order.status %></td>
          </tr>
          <tr>
            <th scope="row">Shipping Address</th>
            <td>
              <%= order.address.fullname %><br>
              <%= order.address.addressLine %><br>
              <%= order.address.city %><br>
              <%= order.address.state %><br>
              <%= order.address.postalCode %><br>
              <%= order.address.phone %><br>
            </td>
          </tr>
          <tr>
            <th scope="row">Payment Method</th>
            <td>

              <% if (order.stripeTransactionId === 'wallet') { %>
               Wallet
              <% } else{%>
                Card
                <% } %>

            </td>
          </tr>
          <tr>
            <th scope="row">Order Date</th>
            <td><%= order.createdAt %></td>
          </tr>
          <tr>
            <th scope="row">Delivered</th>
            <td>

              <% if (order.status === 'delivered') { %>
               Yes
              <% }else{ %>No
              <% } %>

            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</body>
</html>
